.about-tab a, ul.about-tab {
    color: #2b3d51;
    text-align: center
}

.about-tab a, .line1, ul.about-tab {
    text-align: center;
}

.line1, .title {
    font-weight: 600
}

.boos, .ceo, .cto, .txt-words li, ul.about-tab {
    list-style: none
}

@media screen and (min-width: 992px) {
    .sidebartop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex
    }

    .team-recommended {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .null-box, .null-box-right {
        margin: 0
    }
}

.about, .picture-tuned, .thread {
    display: inline-block
}

.sidebarbj {
    background-color: #F6F7F8;
    padding-bottom: 20px
}

.about-content, ul.about-tab {
    background-color: #fff
}

.sidebar {
    margin-right: 50px;
    padding: 0
}

.about-tab li {
    line-height: 40px;
    cursor: pointer
}

ul.about-tab {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 70px;
    padding-bottom: 70px;
}

.about-tab a {
    font-size: 16px;
    text-decoration: none;
    vertical-align: sub;
}

.about-tab a:hover {
    text-decoration: none;
    color: #fc2a48
}

ul.about-tab li a.hover {
    color: #fc2a48
}

.about {
    background: url(../images/IconCollection.png) no-repeat;
    width: 18px;
    height: 19px;
    vertical-align: middle
}

.about-we {
    background-position: -28px -5px;
}

.about-we-active {
    background-position: -4px -5px;
}

.about-tab .table-people:hover a, .about-tab .table-people:hover div {
    background-position: -4px -5px;
    color: #fc2a48
}

.contact-we {
    background-position: -77px -5px;
}

.contact-we-active {
    background-position: -52px -5px;
}

.about-tab .table-phone:hover a, .about-tab .table-phone:hover div {
    background-position: -52px -5px;
    color: #fc2a48
}

/*#box1 {*/
/*width: 100%;*/
/*height: 53px;*/
/*background: #f7f7f7;*/
/*border-left: 6px solid #EB5255;*/
/*position: absolute;*/
/*top: 74px;*/
/*left: 0;*/
/*z-index: -1;*/
/*-webkit-transition: top .2s;*/
/*transition: top .2s*/
/*}*/

.line1 {
    font-size: 20px
}

.picture-tuned {
    top: 1px;
    width: 20px;
    height: 20px
}

.picture-tuned img {
    width: 70%;
    vertical-align: bottom;
}

.top-title {
    margin-top: 30px
}

.thread {
    height: 1px;
    width: 40px;
    margin: 0 10px 10px;
    background-color: #000
}

.title {
    font-size: 24px
}

.null-box, .null-box-right {
    width: 30px;
    height: 30px
}

.null-box {
    margin-left: 90px;
    border-top: 1px solid;
    border-left: 1px solid
}

.null-box-right {
    float: right;
    margin: 0 90px 40px 0;
    border-bottom: 1px solid;
    border-right: 1px solid
}

.txt-words {
    color: #2b3d51;
    margin: 0 auto;
    overflow: hidden;
    padding: 5rem
}

.txt-words li {
    text-align: justify;
    margin: 36px 0 36px 12px;
    display: block
}

.idea-text, .message {
    padding: 0
}

.team-leader {
    padding: 0;
    margin-top: 75px
}

.box-container-maps, .box-container-new {
    line-height: 14px;
    padding: 10px 0;
    text-align: left
}

.team-name, .team-title {
    font-weight: 500;
    font-size: 16px;
    border-left: 5px solid #fc2a48;
    text-indent: 7px;
    margin: 2rem 0;
    color: #2b3d51
}

.boos {
    height: 162px
}

.ceo, .cto {
    text-align: left;
    display: inline-block;
    font-size: 14px;
    width: 250px
}

.ceo {
    float: left
}

.cto {
    float: right
}

.idea {
    margin-top: 50px
}

.contact-beijing {
    font-weight: 500;
    font-size: 32px
}

.team-recommended {
    background-color: rgba(255, 255, 255, 1)
}

.box-msg {
    width: 240px;
    margin: 105px 0 0 100px
}

.box-container-new {
    display: inline-block;
    width: 49%
}

.contact-location {
    float: right;
    height: 270px;
    width: 440px;
    margin: 50px 20px 40px 0
}

.contact-location img {
    width: 100%
}

.team-Company-name {
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    text-indent: 0;
    margin: 2rem 0;
    color: #2b3d51
}

.box-container-new .contact-us {
    font-size: 14px;
    color: #2b3d51
}

.maps {
    display: block
}

/*动画*/
.box2 {
    transition: all linear .2s;
    width: 100%;
    height: 40px;
    background: #f7f7f7;
    border-left: 6px solid #fc2a48;
    position: absolute;
    top: 71px;
    left: 0;
    z-index: -1;
}

.box2.ng-hide-add {
    top: 71px;
}

.box2.ng-hide-add-active {
    top: 113px;
}

.box2.ng-hide-remove {
    top: 113px;
}

.box2.ng-hide-remove-active {
    top: 71px
}

.box1 {
    transition: all linear .2s;

    width: 100%;
    height: 40px;
    background: #f7f7f7;
    border-left: 6px solid #fc2a48;
    position: absolute;
    top: 113px;
    left: 0;
    z-index: -1;
}

.box1.ng-hide-add {
    top: 113px;
}

.box1.ng-hide-add-active {
    top: 71px
}

.box1.ng-hide-remove {
    top: 71px;
}

.box1.ng-hide-remove-active {
    top: 113px;
}