@charset "utf-8";
/*第一个轮播图*/
.carousel-inner > .item > img {
    width: 100%;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

@media screen and (max-width: 767px) {
    .carousel-indicators li,
    .carousel-indicators .active {
        display: none;
    }
}

/*introduce*/
.home-introduce {
    padding: 74px 0;
}

.introduce-tag {
    text-align: center;
    margin-top: 30px;
}

.home-img {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 50px;
}

.introduce-tag p {
    margin-top: 20px;
    font-size: 14px;
    color: #536a82;
}

.introduce-tag .home-introduce-font {
    font-size: 16px;
    font-weight: bold;
    color: #2d3e50;
}

.home-introduce-text {
    border-left: 1px solid #E5E9EB;
}

.home-introduce-text > div {
    margin-top: 30px;
}

.home-introduce-text > div:first-child {
    margin-top: 0;
}

.home-introduce-text > div > p {
    margin: 0;
    color: #2d3e50;
}

@media screen and (max-width: 992px) {
    .home-introduce-text {
        border-left: 0;
    }
}

.home-introduce-text .introduce-text-font {
    color: #fc2b47;
    font-weight: bold;
    font-size: 16px;
}

/*最新职位*/
.home-newJob-main {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.home-section-title {
    text-align: center;
    padding: 80px 0 50px 0;
    color: #536a82;
    font-size: 16px;

}

.home-section-font {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 0;
    color: #2d3e50;
    font-weight: bold;
}

.home-section-line {
    height: 2px;
    width: 30px;
    background-color: #fc2b47;
    margin: 4px auto;
}

.home-section-newJob {
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
}

.home-newJob-more {
    list-style: none;
    text-decoration: none;
    color: #536a82;
    font-size: 16px;
    position: absolute;
    top: -23px;
    right: 16px;
    z-index: 9;
}

/*二号轮播图*/
.banner-pre,
.banner-next {
    position: absolute;
    top: 47%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.banner-pre {
    left: -72%;
}

.banner-pre .img-responsive:hover {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.banner-next {
    right: -72%;
}

.radish-clear-pd {
    padding: 10px 20px 10px 0;
    cursor: pointer;
}

.radish-clear-pd > img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #E5E9EB;
    padding: 4rem 1rem;
}

.clear-pd > div:last-child {
    padding-right: 0;
}

.position-carousel-inner {
    margin: 0 10px;
}

.home-listbox {
    background-color: #ffffff;
    border-radius: 5px;
}

.home-listbox .font-box {
    width: 100%;
    padding: 20px 10px;
    border-top: 1px solid rgb(238, 238, 238)
}

.home-title {
    width: 100%;
}

.home-listbox:hover {
    -moz-box-shadow: 0 4px 7px #e7e7e7;
    -webkit-box-shadow: 0 4px 7px #e7e7e7;
    box-shadow: 0 4px 7px #e7e7e7;
}

@media screen and (min-width: 992px) {
    .home-listbox > .middle-img-box {
        width: 100%;
        height: 188px;
        margin: 0 auto;
        border: none;
    }
}

@media screen and (max-width: 991px) {

    .home-listbox > .middle-img-box {
        width: 100%;
        height: auto;
        margin: 0 auto;
        border: none;
    }
}

.home-listbox > .middle-img-box img {
    max-width: 100%;
    max-height: 100%;
}

.home-newJob-name {
    font-size: 16px;
    font-weight: bold;
    display: block;
    color: #2d3e50;
}

.home-listbox-line {
    height: 1px;
    width: 20px;
    margin: 2px auto 5px auto;
    background-color: #fc2b47;
}

.home-newJob-company {
    font-size: 14px;
    color: #536a82;
}

.carousel-controls {
    height: 1px;
}

/*最新职位轮播图控制*/
.newjob-carousel-left, .newjob-carousel-right {
    width: 3%;
}

.newjob-carousel-left {
    left: -26px;
}

.right.carousel-control.newjob-carousel-right {
    right: -26px;
}

@media screen and (max-width: 992px) {
    .newjob-carousel-left, .newjob-carousel-right {
        display: none;
    }

    .friend-carousel-hide {
        display: none;
    }
}

.home-service-main {
    margin-bottom: 30px;
}

.home-step {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #E9EDEF;
    padding: 0;
    display: inline-block;
    margin-bottom: 1rem;
}

.home-service-img {
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    margin: 0 auto;
}

.home-service-text {
    display: inline-block;
    margin: 15px 0;
    font-size: 16px;
    color: #2d3e50;
}

.home-service-arrow {
    height: 1px;
    border: 1px dashed;
    border-image: url(../images/border-img.png) 10;
    margin-top: 75px;
    position: relative;
}

.home-service-arrow img {
    position: absolute;
    bottom: -13px;
    left: 45%;
}

/*小于992px 隐藏小灰机*/
@media screen and (max-width: 991px) {
    .home-service-arrow {
        display: none;
    }

    .home-service-arrow > img {
        display: none;
    }

    .home-step {
        border: none;
    }

    .home-listbox > .middle-img-box img {
        width: auto;
    }
}

/*伙伴之言*/
.home-comment {
    padding-bottom: 75px;
}

.home-friend {
    color: #999999;
    background-color: rgb(255, 255, 255);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #F0F0F0;
    padding: 30px 17px 0 17px;
    margin: 2px 0;
    min-height: 338px;
}

.home-friend:hover {
    -moz-box-shadow: 1px 0 20px #DAE0E3;
    -webkit-box-shadow: 1px 0 20px #DAE0E3;
    box-shadow: 1px 0 20px #DAE0E3;
}

.home-friend-name {
    color: #294154;
    font-size: 16px;
    font-weight: bold;

}

.home-friend-introduce {
    color: #666666;
    font-size: 14px;
    margin: 10px 0 20px 0;
}

