<div class="container">
    <div class="row">
        <!--条件筛选面板-->
        <div class="screen-panel search-panel">
            <form class="form-horizontal mg-left-right-20" novalidate name="searchParams">
                <div class="form-group">
                    <label>关 键 字 ：</label>
                    <input name=name type="text" maxlength="39" class="form-control keyword-search mg-left-5"
                           placeholder="输入职位关键词：如 产品经理等" ng-maxlength="38" ng-model="vm.data.name">
                    <span ng-if="searchParams.name.$dirty" class="search-remind-word">当前关键字：{{vm.data.name}}</span>
                    <span ng-if="searchParams.name.$invalid">验证失败 请不要超过38个字符</span>
                </div>
                <div class="form-group" data-address="address">
                    <label>所在地区：</label>
                    <a ng-class="{true:'defaultChoice'}[a.choose]"
                       ng-click="vm.checkboxMulti($index,vm.option.province)"
                       ng-repeat="a in vm.option.province track by $index">{{a.name}}</a>

                </div>
                <div class="form-group">
                    <label>职位类别：</label>
                    <a ng-class="{true:'defaultChoice'}[a.choose]"
                       ng-click="vm.checkboxMulti($index,vm.option.category);vm.selectSubCategoryFn($index,a.choose)"
                       ng-repeat="a in vm.option.category track by $index">{{a.name}}</a>
                </div>

                <div class="form-group" ng-if="!vm.option.category[0].choose && vm.selectedNum < 2">
                    <label>　　　　　</label>
                    <a ng-class="{true:'subDefaultChoice'}[a.choose]"
                       ng-click="vm.checkboxMulti($index,vm.option.subCategory)"
                       ng-repeat="a in vm.option.subCategory track by $index">{{a.name}}</a>
                </div>
                <div class="form-group" data-type="type">
                    <label>所属行业：</label>
                    <a ng-class="{true:'defaultChoice'}[a.choose]"
                       ng-click="vm.checkboxMulti($index,vm.option.industry)"
                       ng-repeat="a in vm.option.industry track by $index">{{a.name}}</a>
                </div>
                <div class="form-group">
                    <label>学历要求：</label>
                    <a ng-class="{true:'defaultChoice'}[a.choose]"
                       ng-click="vm.checkboxMulti($index,vm.option.education)"
                       ng-repeat="a in vm.option.education track by $index">{{a.name}}</a>
                </div>
                <div class="form-group">
                    <label>工作经验：</label>
                    <a ng-class="{true:'defaultChoice'}[a.choose]"
                       ng-click="vm.checkboxMulti($index,vm.option.experience)"
                       ng-repeat="a in vm.option.experience track by $index">{{a.name}}</a>
                </div>
                <div class="form-group">
                    <label>薪资水平：</label>
                    <a ng-class="{true:'defaultChoice'}[a.choose]"
                       ng-click="vm.checkboxMulti($index,vm.option.compensation)"
                       ng-repeat="a in vm.option.compensation track by $index">{{a.name}}</a>
                </div>
                <div class="form-group">
                    <label>发布时间：</label>
                    <a ng-class="{true:'defaultChoice'}[a.choose]" ng-click="vm.radioType($index,vm.option.updateAt)"
                       ng-repeat="a in vm.option.updateAt track by $index">{{a.name}}</a>
                </div>
            </form>
            <div class="search-btn">
                <button class="begin-search pull-right" ng-click="vm.search()">搜索</button>
                <button class="clear-search pull-right" ng-click="vm.clear()">清空</button>
            </div>
        </div>

        <!--具体内容展示面板-->
        <div class="search-content pd-bottom-30">
            <div>
                <div class="search-oneRow" ng-repeat="item in vm.searchJob.data track by $index">
                    <div class="row img-thumbnail search-rowBox" ui-sref="app.jobDescription({id:item.id})">
                        <!--左边的工作信息-->
                        <div class="col-md-6 col-xs-12 search-roxLift">
                            <div class="pd-10">
                                <div class="left-jobName">
                                    <p class="mg-0">{{item.name}}</p>
                                </div>
                                <div class="left-time">发布时间：{{item.updateAt|updateAtFilter}}</div>
                                <div class="left-payroll"> {{item.compensation|compensationFilter}}</div>
                                <div class="left-jobmsg">{{item.city|cityFilter}}-{{item.county|countyFilter}} /
                                    {{item.education|educationFilter}} /
                                    {{item.experience|experienceFilter}}
                                </div>
                            </div>
                        </div>
                        <!--右边的公司信息-->
                        <div class="col-md-6 col-xs-12 right-company">
                            <div class="col-xs-12 pd-0">
                                <div class="pd-10 col-xs-9">
                                    <div class="col-xs-12 company-nameBox">
                                        <p class="right-company-name">
                                            {{item.companyName}}</p>
                                        <div class="company-typeBox">
                                            <span class="company-type"
                                                  ng-repeat="type in item.industryList track by $index">{{type.industry|industryFilter}}</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-12  company-welfare">
                                        <span ng-repeat="tag in item.tags track by $index">{{tag.tag}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-3 pd-0">
                                    <div class="middle-img-box pull-right">
                                        <span></span>
                                        <img src={{item.logo}} alt=""
                                             class="img-responsive">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pd-bottom-30 mg-top-20">
                    <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
                </div>

            </div>
            <!--notFind页面-->
            <not-find ng-if="vm.isNotFind" showrecommend="{{vm.isShowRecommend}}" size="3"></not-find>
        </div>

    </div>
</div>





