<div>
    <!--头部-->
    <header class="navbar-static-top">
        <div class="header-panel">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default nav-clear">
                        <div class=" col-xs-12 pd-0">
                            <!--header左侧商标-->
                            <div class="col-sm-5">
                                <img src="images/logo.png" ui-sref="app.home" class="pull-left main-logo">
                                <div class="main-location disHidden">
                                    <img src="images/location-logo.png">
                                    <span class="selected-location">北京站</span>
                                </div>
                            </div>
                            <!--右侧导航-->
                            <div class=" pull-right collapse navbar-collapse col-sm-6 nav-xs"
                                 id="bs-example-navbar-collapse-1">
                                <ul ontouchstart=""
                                    data-toggle="{{vm.isToggle}}"
                                    data-target="#bs-example-navbar-collapse-1"
                                    class="nav navbar-nav navbar-right nav-media main-nav mg-0">
                                    <li class="nav-page" ui-sref="app.home"
                                        ng-class="{navChoice: $state.includes('app.home')}">首页
                                        <span class="nav-page-underline"></span>
                                    </li>
                                    <li class="nav-page" ui-sref="app.findJob" ng-class="{navChoice: $state.includes('app.findJob')||$state.includes('app.jobList')
                                        ||$state.includes('app.searchMain')||$state.includes('app.companyMain')||
                                        $state.includes('app.jobDescription')||$state.includes('app.notFind')}">
                                        找职位<span class="nav-page-underline"></span>
                                    </li>
                                    <li class="nav-page" ui-sref="app.findElite"
                                        ng-class="{navChoice: $state.includes('app.findElite')||$state.includes('app.companyList')||$state.includes('app.talentDetail')}">
                                        找精英<span class="nav-page-underline"></span>
                                    </li>
                                    <li class="nav-page mg-right-0" ui-sref="app.aboutUs"
                                        ng-class="{navChoice: $state.includes('app.aboutUs')}">关于我们
                                        <span class="nav-page-underline"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div data-ui-view="">

    </div>
    <!--尾部-->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="footer-left col-md-4 col-xs-12">
                        <p class="footer-link">
                            <a class="footer-link-a" ui-sref="app.aboutUs({status:'true'})">关于我们</a>
                        </p>
                        <p class="font-14">萝卜多——知根知底的社群招聘</p>
                    </div>
                    <div class="footer-middle col-md-5 col-xs-12">
                        <p class="footer-link">
                            <a class="footer-link-a" ui-sref="app.aboutUs({status:'false'})">联系我们</a>
                        </p>
                        <ul class="footer-right-ul">
                            <li class="footer-right-line"><img src="../images/i-phone.jpg">
                                <span class="footer-right-span">联系电话</span>
                                <span>(010)59478634</span>
                            </li>
                            <li class="footer-right-line">
                                <img src="../images/i-email.jpg">
                                <span class="footer-right-span">邮箱支持</span>
                                <span>kefu@ptteng.com</span>
                            </li>
                            <li class="footer-right-line">
                                <img src="../images/i-address.png">
                                <span class="footer-right-span">地&nbsp址</span>
                                <span>北京市海淀区翠微路甲10#225室</span>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-right col-md-3 col-xs-12 ">
                        <img src="../images/erweima.jpg" class="footer-right-image">
                        <p class="footer-right-text">微信号：葡萄藤IT技能树</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            Copyright © 2015 北京葡萄藤信息技术有限公司 All Rights Reserved | 京ICP备15035574号-3
        </div>
    </footer>
</div>