@charset "utf-8";
/*上下轮播*/
.findjob-carousel-img {
    padding: 0;
    width: 177px;
    height: 128px;
    border: 1px solid #E8E8E8;
    text-align: center;
}

.findjob-carousel-img > img {
    max-width: 90%;
    max-height: 100%;
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
}

.findjob-carousel-img > span {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.findjob-carousel {
    padding: 1rem;
    border: 1px solid #EAEAEA;
    border-radius: 5px;

}

.findjob-carousel-list {
    height: 128px;
    padding: 15px 30px;
    width: 60%;
}

.findjob-carousel-text1 {
    font-size: 18px;
    font-weight: bold;
    color: #2d3e50;
}

.findjob-carousel-left .col-xs-6 p {
    margin: 10px 0;
}

.findjob-carousel-text2 {
    color: #536a82;
    font-size: 14px;
}

.updown-carousel-right {
    margin-top: 15px;
    overflow: hidden;
}

.findjob-carousel-text1box:last-of-type {
    border: none;
}

.findjob-carousel-text1box {
    border-right: 1px solid #E2E2E2;
    padding: 0 15px;
    font-size: 16px;
    color: #2d3e50;
}

.findjob-carousel-text3 {
    height: 34px;
}

.findjob-carousel-text3 > span {
    display: inline-block;
    margin: 0 10px 10px 0;
    border: 1px solid #d9d9d9;
    padding: 3px 10px;
    border-radius: 2px;
    color: #536a82;
}

.findjob-myCarousel {
    margin-top: 40px;
}

.carousel-innergai {
    cursor: pointer;
}

@media screen and (min-width: 970px) {
    .findjob-carousel-left {
        border-right: 1px solid #EAEAEA;
    }
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-innergai > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }

    .carousel-innergai > .item.next,
    .carousel-innergai > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    .carousel-innergai > .item.prev,
    .carousel-innergai > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    .carousel-innergai > .item.next.left,
    .carousel-innergai > .item.prev.right,
    .carousel-innergai > .item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/*上下轮播图左右边框*/
.carousel-innergai > .nextgai,
.carousel-innergai > .prevgai {
    position: absolute;
    top: 0;
    left: 15px !important;
    right: 15px !important;
    /*margin-right: 15px;*/
    width: auto !important;
}

.carousel-controlgai {
    display: none;
}

@media screen and (max-width: 970px) {
    .carousel-indicators {
        display: none !important;
    }
}

.carousel-indicatorsgai {
    position: static !important;

}

.carousel-indicatorsgai-box {
    padding: 0 0 0 20px !important;
}

.carousel-indicatorsgai > li {
    margin: 8px 0 !important;
    border: 1px solid #EAEAEA !important;
    width: 14px !important;
    height: 14px !important;
}

.carousel-indicatorsgai li.active {
    width: 14px !important;
    height: 14px !important;
    background-color: #FC2949 !important;
    border-radius: 50%;
    border: none !important;
}

/*.carousel-indicators .active {*/
/*width: 12px !important;*/
/*height: 12px !important;*/
/*background-color: #FC2949 !important;*/
/*border-radius: 50%;*/
/*border: none !important;*/
/*}*/

@media screen and (min-width: 970px) {
    .carousel-innergai {
    }

    .myCarousel-box {
        width: 94%;
    }

    .carousel-indicatorsgai-box {
        width: 4%;
    }
}

.carousel-inner-box {
    padding-right: 0 !important;
}

