.company-introduce-cont {
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 20px
}

.company-homepage, .company-job {
    padding: 0;
}

.company-tags {
    padding: 40px 0 40px 40px;
}

.company-homepage > span {
    padding: 2px 10px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    color: #536a82;
}

.company-job > span {
    padding: 2px 10px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    color: #536a82;
}

.company-homepage > span {
    color: #fc2b47;
    border-bottom: 3px solid #fc2b47;
    font-weight: bold;
}

.company-product-text {
    color: #2d3e50;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.company-right-title {
    color: #536a82;
    padding: 10px;;
    font-size: 14px;
    font-weight: bold;
}

.company-product-logo {
    display: inline-block;
    width: 148px;
    height: 148px;
    border: 1px solid #E8E8E8
}

.company-product-banner {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.company-product-banner p {
    margin-bottom: 15px;
    margin-top: 15px;
}

.company-name {
    color: #2d3e50;
    font-size: 16px;
    font-weight: bold;
}

.company-text {
    margin: 0 auto
}

.company-history {
    margin: 1rem 0
}

@media screen and (min-width: 1200px) {
    .sidebar-split-line {
        width: 65%
    }

    .welfare {
        min-width: 26%
    }
}

.industry > img {
    display: inline-block;
    vertical-align: middle;
}

.industry > span {
    vertical-align: middle;
    margin-left: 20px;
}

.industry {
    margin: 30px auto
}

.company-detail-tag {
    margin: 10px 20px 0 0;
    line-height: 20px;
}

.companyhome-industry {
    display: inline-block;
    width: 80%;
}


